<div class="ui modal large fullscreen" id="sendSMSmodal">
    <!--  -->
    <div class="header" id="SENDSMSMODALHEADER">
        <h1 class="DENG"></h1>
    </div>
    <!--  -->
    <div class="content scrolling ">
        <div class="ui grid relaxed">
            <!--  -->
            <div class="sixteen wide column">
                <div class="ui equal width form">
                    <div class="fields">
                        <div class="field">
                            <select type="text" class="senderDeviceDropMenu ui dropdown" id="senderDeviceDropMenu">
                                <option value="0">SENDER DEVICE</option>
                            </select>
                        </div>
                        <div class="field">
                            <input type="text" disabled id="phoneNumberInputField">
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="three column row unstackable">
                <!-- SMS message sender -->
                <div class="  column" id="smsSenderContainer"></div>
                <!-- Whatsapp Message Sender -->
                <div class="  column" id="whatsappSenderContainer"></div>
                <!-- preview data of costumer -->
                <div class="column" id="rowDataPreview"></div>
            </div>

        </div>
    </div>
    <!--  -->
    <div class="actions">
        <div class="ui ok button blue">OK <span id="modalTimer"></span></div>
    </div>
</div>
<script id="removeAfterScript">
    var invervals = {};
    /**  **/
    var modalActions = {
        /****/
        onShow: (modal) => {
            /** 
             * get all phone devices which are ready inserted into DB
             * on the server
             *  **/
            $.ajax({
                data: {
                    dv: GM,
                    rt: "GETDEVICES",
                },
                success: (devices) => {
                    /** add list of all existing devices **/
                    $.eachSync(devices, (i, device) => {
                        $(`#senderDeviceDropMenu`).append(
                            `<option value="${device["id"]}"> ${device["device_name"]} > ${device["phone_number"]}</option>`
                        );
                    }, () => {
                        $(`#senderDeviceDropMenu`).dropdown();
                    });
                }
            });


            /** check if the object not equals to null  **/
            if (SELECTEDROW !== null) {
                /** Draw modal header **/
                $(`#SENDSMSMODALHEADER h1`).html(
                    "Messaging to : " +
                    SELECTEDROW["Kunden"] +
                    ",<span > " + SELECTEDROW["Telefonnummer"] + "</span>"
                );
                /** Show phone number to user **/
                $(`#phoneNumberInputField`).val("TO : " + SELECTEDROW["Telefonnummer"]);
                /** bring content of other secotin of the modal **/

                $(`#smsSenderContainer`)
                    .load(PATH.join(__dirname, "modals", "smsMessageContent.html"), () => {
                        // update list every 1 secound
                        invervals.SMSbyNumber = setInterval(get_sms_queue_list_by_phone_number, 1000);
                    });

                $(`#whatsappSenderContainer`)
                    .load(PATH.join(__dirname, "modals", "whatsappSenderContent.html"));


                // 
                /** each row cells to print them as a list */
                var list = $(`<div class="ui middle aligned list"></div>`);
                var paragraphContainer = $(`<div class="ui segment orange"></div>`);
                $.eachSync(SELECTEDROW, (i, cell) => {
                    if (i.charAt(0) === "#") return false;
                    var listItem = $(`<a class="item "></a>`);
                    var itemIcon = $(`<i class="hand point right icon"></i>`);
                    var listContent = $(`<div class="content"></div>`);
                    var listHeader = $(`<div class="header">${i}</div>`);
                    var listDisc = $(
                        `<div class="description"> ----> <span class="boldFont">${cell}</span></div>`
                    );

                    listContent.html([listHeader, listDisc]);
                    listItem.html([itemIcon, listContent]);
                    list.append(listItem);
                }, (rowData) => {
                    paragraphContainer.append(list);
                    /** append the accessoires of the row data */
                    $(`#rowDataPreview`).html([
                        paragraphContainer,
                    ]);
                    $(`.spical`).transition('horizontal flip in')
                });
            }

        },
        /****/
        onHidden: (modal) => {
            $(`#removeAfterScript`).html("");
            $(`#responseReciverContainer`).html("");
            $(`#sendSMSmodal`).remove();

            // to clear interval after closing the modal
            $.eachSync(invervals, (i, interval) => {
                clearInterval(interval);
            })
        },
        /****/
        onApprove: (modal) => {

        }
    };

    /**  **/
    $(`#sendSMSmodal`).modal({
        onShow: modalActions.onShow,
        onHidden: modalActions.onHidden,
        onApprove: modalActions.onApprove,
        closable: false
    }).modal("show");
</script>