<div class="ui form">
    <div class="field">
        <label for="templateSelector">Select SMS Template</label>
        <input type="text" class="dropdown">
    </div>
    <div class="field">
        <label for="">Message Template</label>
        <textarea id="smsTextInputTextarea"></textarea>
    </div>
    <div class="field">
        <div class="ui button green right floated" id="smsSendereBtnSubmit">
            Send
        </div>
    </div>
</div>
<script>
    $(`#smsSendereBtnSubmit`).click((event) => {
        /** Check internet connectivity **/
        NETCONNECTION().then(function () {
            var checkVal = checkData();
            if (checkVal) {
                $.ajax({
                    url: "https://controller.ah-t.de/",
                    method: "post",
                    data: {
                        dv: GM,
                        rt: "SENDSMS",
                        row: SELECTEDROW,
                        text: checkVal
                    },
                    success: (response) => {
                        console.log(response);
                    }
                });
            }
        }).catch(function () {
            alert("THERE IS NO INTERNET CONNECTION");
        });
    });
    /**  **/
    function checkData() {
        var smsTextInputTextarea = $(`#smsTextInputTextarea`).val();
        if (smsTextInputTextarea !== "") {
            return smsTextInputTextarea;
        } else {
            return false;
        }

    }
</script>