<div class="ui form">
    <div class="field">
        <label for="templateSelector">Select <i class="mobile alternate icon"></i> Template</label>
        <input type="text" class="dropdown">
    </div>
    <div class="field">
        <label for="">Message Template</label>
        <textarea id="smsTextInputTextarea"></textarea>
    </div>
    <div class="field">
        <div class="ui button green" id="smsSendereBtnSubmit">
            Send
        </div>
    </div>
</div>
<div class="ui segment" id="msgSentToSameCostomer"></div>
<script>
    function get_sms_queue_list_by_phone_number() {
        $.ajax({
            data: {
                dv: GM,
                rt: "GETSMSLISTBYPHONENUMBER",
                pn: SELECTEDROW["Telefonnummer"]
            },
            success: (response) => {
                var parsed = JSON.parse(response);
                $.eachSync(parsed, (i, row) => {
                    $(`#msgSentToSameCostomer`)
                        .append(
                            `<p>
                                M. Status : <span class="redWhite">${row["sms_status"]}</span>
                                M. Text : <span class="redWhite">${row["sms_text"]}</span>
                                M. Date : <span class="redWhite">${row["order_receive_date"]}</span>
                            </p>`
                        );
                })

            }
        });
    };
    get_sms_queue_list_by_phone_number();
    /** set on click send SMS button Aciton **/
    $(`#smsSendereBtnSubmit`).click((event) => {
        /** Check internet connectivity **/
        NETCONNECTION().then(function () {
            var checkVal = checkData();
            if (checkVal) {
                $.ajax({
                    data: {
                        dv: GM,
                        rt: "SENDSMS",
                        row: SELECTEDROW,
                        text: checkVal,
                        senderDevice: $(`#senderDeviceDropMenu`).val()
                    },
                    success: (response) => {
                        var parsed = JSON.parse(response);
                        if (parsed.STATUS) {
                            alert(
                                "MESSAGE INSERTED INTO QUEUE LIST, it is will be send soon ..."
                            );
                            $(`#sendSMSmodal`).modal("hide");
                        } else {
                            alert("THERE IS AN ERROR : " + response);
                            $(`#sendSMSmodal`).modal("hide");
                        }
                    }
                });
            }
        }).catch(function () {
            alert("THERE IS NO INTERNET CONNECTION");
        });
    });
    /**  **/
    function checkData() {
        // check if user selected the sender Device or not
        var selectDevice = $(`#senderDeviceDropMenu`).val();
        if (selectDevice !== "0") {
            $(`#senderDeviceDropMenu`).closest(".field").removeClass("error");
            var smsTextInputTextarea = $(`#smsTextInputTextarea`).val();
            if (smsTextInputTextarea !== "") {
                return smsTextInputTextarea;
            } else {
                return false;
            }
        } else {
            $(`#senderDeviceDropMenu`).closest(".field").addClass("error");
        }
    }
</script>