<div class="ui form">
    <div class="field">
        <label for="templateSelector">Select <i class="mobile alternate icon"></i> Template</label>
        <input type="text" class="dropdown">
    </div>
    <div class="field">
        <label for="">Message Template</label>
        <textarea id="smsTextInputTextarea"></textarea>
    </div>
    <div class="field">
        <div class="ui button green" id="smsSendereBtnSubmit">
            Send
        </div>
    </div>
</div>
<div class="ui segment" id="msgSentToSameCostomer"></div>
<script>
    var timer = 60;
    /** 
     * this function to refresh the result from server 
     * and get all queue list by phone number
     *  **/
    function get_sms_queue_list_by_phone_number() {
        timer--;
        /** close the modal after 1 minute **/
        $(`#modalTimer`).transition('set looping').transition('horizontal flip', '1000ms')
        $(`#modalTimer`).text(timer);
        if (timer === 0) {
            $(`#sendSMSmodal`).modal("hide");
        };
        // get all message for current number
        $.ajax({
            data: {
                dv: GM,
                rt: "GETSMSLISTBYPHONENUMBER",
                pn: SELECTEDROW["Telefonnummer"]
            },
            success: (response) => {
                var list = $(`<div class="ui relaxed divided list"></div>`);
                $.eachSync(response, (i, row) => {
                    /** To create list of the queue list of current phone number **/

                    var listItem = $(
                        `<div class="item" rowID="${row["id"]}" messageStatus="${row["sms_status"]}"></div>`
                    );
                    var itemContent = $(`<div class="content"></div>`).append([
                        $(`<div class="header">#${row["id"]}: 
                             <span class="SMSSTATUS_${row["sms_status"]}">${row["sms_status"]}</span>
                             <sup>${row["order_receive_date"]}</sup>
                           </div>`),
                        $(`<div class="description">${row["sms_text"]}</div>`)
                    ]);

                    // append the content to list 
                    list.append([
                        listItem.append([
                            $(
                                `<i class="trash icon removeMessageFromServer" rowID="${row["id"]}"></i>`
                            ),
                            itemContent
                        ])
                    ]);

                }, (response) => {
                    $(`#msgSentToSameCostomer`).html(list);
                    /** set remove message btn action **/
                    $(`.removeMessageFromServer`).click((event) => {
                        var messageID = $(event.target).attr("rowID");
                        /** Send Request to remove message by id **/
                        $.ajax({
                            data: {
                                dv: GM,
                                rt: "REMOVEQUEUEDMESSAGEBYID",
                                mid: messageID
                            },
                            success: (ajaxResponse) => {
                                if (ajaxResponse.MESSAGEREMOVED) {
                                    get_sms_queue_list_by_phone_number()
                                } else {
                                    alert("ERROR REMOVING THE MESSAGE...");
                                }
                            }
                        });
                    })
                });
                // disable all row messages which are sent
                $(`[messageStatus='SENT']`).addClass("disabled");
            }
        });
    };



    /** set on click send SMS button Aciton **/
    $(`#smsSendereBtnSubmit`).click((event) => {
        /** Check internet connectivity **/
        NETCONNECTION().then(function () {
            var checkVal = checkData();
            if (checkVal) {
                $.ajax({
                    data: {
                        dv: GM,
                        rt: "SENDSMS",
                        row: SELECTEDROW,
                        text: checkVal,
                        senderDevice: $(`#senderDeviceDropMenu`).val()
                    },
                    success: (response) => {
                        if (response.STATUS) {
                            alert(
                                "MESSAGE INSERTED INTO QUEUE LIST, it is will be send soon ..."
                            );
                            $(`#sendSMSmodal`).modal("hide");
                        } else {
                            alert("THERE IS AN ERROR : " + response);
                            $(`#sendSMSmodal`).modal("hide");
                        }
                    }
                });
            }
        }).catch(function () {
            alert("THERE IS NO INTERNET CONNECTION");
        });
    });
    /**  **/
    function checkData() {
        // check if user selected the sender Device or not
        var selectDevice = $(`#senderDeviceDropMenu`).val();
        if (selectDevice !== "0") {
            $(`#senderDeviceDropMenu`).closest(".field").removeClass("error");
            var smsTextInputTextarea = $(`#smsTextInputTextarea`).val();
            if (smsTextInputTextarea !== "") {
                return smsTextInputTextarea;
            } else {
                return false;
            }
        } else {
            $(`#senderDeviceDropMenu`).closest(".field").addClass("error");
        }
    }
</script>