<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        var $ = require("jquery");
        var jQuery = require("jquery")
    </script>

    <!-- jQuery -->
    <script src="./assets/jquery/jquery.js"></script>
    <!-- jQueryUI -->
    <script src="assets/jqueryUI/jquery-ui.js"></script>
    <link rel="stylesheet" href="./assets/jqueryUI/jquery-ui.css">
    <!-- SemanticUI -->
    <script src="assets/semanticUI/semantic.min.js"></script>
    <link rel="stylesheet" href="./assets/semanticUI/semantic.css">

    <!-- external -->
    <script src="assets/main.js"></script>
    <link rel="stylesheet" href="./assets/main.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <div class="ui sidebar inverted vertical menu">

    </div>
    <div class="ui pusher">
        <!--  -->
        <div class="ui segment">
            <div class="ui accordion" id="uploadFileAccordion">
                <div class="title"><i class="dropdown icon"></i>Uplad New Table</div>
                <div class="content">
                    <div class="ui segments" id="topFileUploaderSeciton">
                        <div class="ui segment  placeholder">
                            <div class="ui icon header">
                                <i class="pdf file outline icon"></i>
                                <span id="uploadedFileName">No documents are listed for this customer.</span>
                            </div>
                            <div class="ui primary button" id="uploadFile" onclick="$('#uploadeFileHiddenBtn').click()">
                                Upload File
                            </div>
                            <input type="file" id="uploadeFileHiddenBtn" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="ui segment">
            <div class="ui form">
                <div class="equal width fields">
                    <div class="field">
                        <label for="">Search By Auftr.-Nr.</label>
                        <input type="text" placeholder="48546.." class="searchByInputField" by="1">
                    </div>
                    <div class="field">
                        <label for="">Search By Kundenname.</label>
                        <input type="text" placeholder="Kundenname.." class="searchByInputField" by="6">
                    </div>
                    <div class="field">
                        <label for="">Search By Zählernummer</label>
                        <input type="text" placeholder="Zählernummer.." class="searchByInputField" by="10">
                    </div>
                    <div class="field">
                        <label for="">Search By Tarif/Produkt</label>
                        <input type="text" placeholder="Tarif/Produkt" class="searchByInputField" by="11">
                    </div>
                </div>
                <div class="field">
                    <label for=""></label>
                    <select class="ui fluid search dropdown" id="cellFilter"></select>
                </div>
                <span>Please press 'Enter' after entering your search word</span>
            </div>
        </div>
        <!-- uploaded file sheets container -->
        <div class="sheetsContainer ui segment" id="sheetsContainer">

        </div>
        <!-- old data stored in the app -->
        <div class="oldDataStoredInStaticFile ui segment" id="oldDataStoredInStaticFile">

        </div>
        <div class="ui fluid popup bottom left transition hidden">Ahamd</div>
    </div>
    <div class="ui modal fullscreen" id="dinamicModal">
        <div class="header" id="dinamicModalHeader"></div>
        <div class="content" id="dinamicModalContent"></div>
        <div class="actions" id="dinamicModalAcitons"></div>
    </div>
</body>

</html>