.cursor {
    cursor: pointer;
}

.firstCell {
    background: #445564;
    color: white;
    cursor: pointer;
}

.boxShadow {
    box-shadow: 0 10px 6px -6px #777;
}

.withoutShadow {
    box-shadow: none;
}

.boldFont {
    font-weight: 900;
}

.noPadding {
    padding: 0px !important;
}

.redWhite {
    background: red;
    color: white;
}

.blueWhite {
    background: blue;
    color: white;
}

.blackWhite {
    background: #515151;
    color: white;
}

.dateBackGround {
    background: "#ff9966";
    color: "white";
}

.oldDataStoredInStaticFile,
.sheetsContainer {
    overflow-x: scroll;
}

.importantHeader {
    background: red !important;
    color: white !important;
}

.ui.popup {
    overflow: auto !important;
}

.DENG {
    background-color: Tomato !important;
    color: white !important;
}

.WORN {
    background-color: Orange !important;
    color: white !important;
}

.POSITIVE {
    background-color: MediumSeaGreen !important;
    color: white !important
}

.DENGL2 {
    background-color: #dc3545 !important;
    color: white !important;
}

.columnMerged {
    background-color: #f54242 !important;
    color: white !important;
    text-align: center !important;
}

.newDataToRows {
    width: 30%;
}
.oldDataStoredInStaticFile{
    width: 70%;
}